/**
    AUTHOR: Laurenz
    CONTACT: laurenz@outlook.ph

    Directions: 
    - - Simply use this CSS file instead of flooding your <head> with a bunch of font calls.
    - - After that, just add some tags as a class.
*/

/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Ultra Light */
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("../font/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("../font/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../font/sanfrancisco/sanfranciscodisplay-regular-webfont.ttf");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("../font/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("../font/sanfrancisco/sanfranciscodisplay-semibold-webfont.tff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("../font/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf");
}

/*
    Lora font download below from Google
*/


/*
    Roboto font download from Google
*/

/*
    Custom class calls for selected fonts
*/

.roboto-ultrathin {
    font-family: 'Roboto';
    font-weight: 200;
}

.roboto-thin {
    font-family: 'Roboto';
    font-weight: 300;
}

.roboto-regular {
    font-family: 'Roboto';
    font-weight: 400;
}

.roboto-semibold {
    font-family: 'Roboto';
    font-weight: 500;
}

.roboto-bold {
    font-family: 'Roboto';
    font-weight: 700;
}

.sf-700 {
    font-family: "San Francisco";
    font-weight: 700;
}

.sf-400 {
    font-family: "San Francisco";
    font-weight: 400;
}

.sf-300 {
    font-family: "San Francisco" !important;
    font-weight: 300 !important;
}

.sf-200 {
    font-family: "San Francisco";
    font-weight: 200;
}

.lora-400{
    font-family: 'lora';
    font-weight: 400;
}
.lora-700{
    font-family: 'lora';
    font-weight: 700;
}

.make-thick {
    
    font-weight: 600;
    font-size: 10em;
    
}
.lora-400{
    font-family: 'lora';
    font-weight: 400;
}
.lora-700{
    font-family: 'lora';
    font-weight: 700;
}
.roboto-200{
    
    font-weight: 200;
}

.roboto-300{
    font-family: 'Roboto';
    font-weight: 300;
}

.roboto-400{
    font-family: 'Roboto';
    font-weight: 400;
}

.roboto-500{
    font-family: 'Roboto';
    font-weight: 500;
}

.roboto-700{
    font-family: 'Roboto';
    font-weight: 700;
}

.roboto-800{
    font-family: 'Roboto';
    font-weight: 800;
}
.roboto-900{
    font-family: 'Roboto';
    font-weight: 900;
}

/*
    Text Alignment
*/

.text-right{
    text-align: right !important;
}

.font-condensed {
    font-stretch: ultra-condensed;
}

/*
    Set text forms
*/

.all-caps {
    text-transform: uppercase !important;
}

.italics {
    font-style: italic;
}

/*
    Force font weights
*/

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}