/*
    Native Elements ONLY
*/

body {
    font-family: "Poppins" !important;
    font-weight: 400;
    background-position: center -20px;    
    color: white;
/*    background: #101010;*/
/*    background: #070707;*/
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif!important;
    font-weight: 900;
    font-kerning: normal;    
    font-stretch: extra-condensed;
}

nav {
    box-shadow: 0 0 0 0 !important;
}

hr {    
    border-color: #b9f6ca !important;
}

p {
    font-size: 1.25em;
}

placeholder {
    color: black;
}

option {
    background: yellow;
}

/*
    Pushdown - A lazy way to add padding-top on elements without creating a class for it or doing in-line style editing
*/
/* Downwards */
.pushdown-75px {
    padding-top: 75px;
}
.pushdown-50px {
    padding-top: 50px;
}
.pushdown-50p {
    padding-top: 50%;
}
.pushdown-40px {
    padding-top: 40px;
}
.pushdown-40p {
    padding-top: 40%;
}
.pushdown-30p {
    padding-top: 30%;
}
.pushdown-20p {
    padding-top: 20%;
}
.pushdown-20px {
    padding-top: 20px;
}
.pushdown-10p {
    padding-top: 10%;
}
.pushdown-15p {
    padding-top: 15%;
}
.pushdown-5p {
    padding-top: 5%;
}
.pushdown-2p {
    padding-top: 2%;
}
.pushdown-1p {
    padding-top: 1%;
}
/* Leftwards */
.pushleft-20p {
    padding-left: 20%;
}
.pushleft-10p {
    padding-left: 10%;
}
.pushleft-15p {
    padding-left: 15%;
}
.pushleft-5p {
    padding-left: 5%;
}
.pushleft-2p {
    padding-left: 2%;
}
.pushleft-1p {
    padding-left: 1%;
}
/*
    Sections
*/

#sec { 
    padding-top: 15%;
    padding-bottom: 15%;    
    vertical-align: middle; 
    position: relative;
    z-index: 2;
}

#above-fold {
    
    position: relative;
    z-index: 3;
}

#shayane {
    position: relative;
    height: inherit;
    width: inherit;
    z-index: 2;
    background-image: -o-linear-gradient(0deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: -moz-linear-gradient(00deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    
    background-image: -webkit-linear-gradient(0deg,rgba(10, 27, 32, 1) 0%,rgba(10, 27, 32, 1) 57%,rgba(10, 27, 32, 0) 100%);
    
    background-image: -ms-linear-gradient(90deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: linear-gradient(90deg,rgb(10, 27, 32, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
}

/*
    Gradient Background Example
*/

#grad-bg {
    /*background: rgba(9, 15, 14, 0.95);*/    
    background-image: -o-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: -moz-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: -webkit-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: -ms-linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
    background-image: linear-gradient(180deg,rgba(9, 15, 14, 0) 0%,rgba(9, 15, 14, 0.95) 45%,rgba(9, 15, 14, 0) 90%);
}

/*
    Border quick settings - Lazy way to remove margins and paddings without adding new code
*/

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/*
    PRIMARY NON-MATERIALIZE COLORS TO BE USED
*/

/* Quiver Colors */
.quiver-green {
    background: #0a1b20 !important;
}
.quiver-green-text {
    color: #0A1B20 !important;
}
.quiver-accent {
    background: #66F46F !important;
}
.quiver-accent-text {
    color: #66F46F;
}
.comet-night {
    background: #1C2630;
}

.btn-border-only {
    /* Border */
    border: 1px solid;
    border-radius: 5px;
    /* Colors */
    background: white;
    border-color: #00E676;
    box-shadow: 0 0 0 0;
    /* Size & Position */
    height: 50px;
    line-height: 3.2;    
    
}

.btn-border-only:hover {
    /* Colors */
    background: #00E676;
    color: white !important;
    /* Fading transition */
    transition: background 0.5s color 0.5s;
}

   /*
    Div edits
*/

.nav {
    opacity: 0.97;    
    transition: background 0.4s;
    box-shadow: 0 0 0 0 !important;
}

.nav h4 {
    color: white;    
    transition: color 0.35s;
}

.belowNav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgb(10, 27, 32);
    opacity: 1;
    height: 20px;
    width: 100%;
    
    filter: blur(5px);
    -webkit-filter: blur(20px);
}

.hr-green {
    border-top: 1px dashed;
    border-top-color: #69f0ae;
    width: 90%;
    height: 0px;
    align-content: center;
    
} 

.white-to-quiver {
    color: #0a1b20;
    transition: color 0.35s;
}

#submitBtn {
    transition: color 0.4s, background 0.4s;
}

.moveLeft {        
    transform: translate(-30px,0px);
    transition: transform 1s ease-in-out;
}

.bodyBGimage {    
    background-image: url(https://earnest-static-assets.s3.amazonaws.com/images/annual-report/confetti-background-final-c10b9a151a.png);
}

#Requirements {
    background-image: url(http://letters-inc.jp/wp-content/themes/g/img/top7@1x.png);
}

/* Required by Typed.js to have an animated cursor */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* CATEGORIES */

.cat {
    border: 1px solid;    
    height: 40px;    
    border-radius: 5px;
    padding: 7px 5px 5px 5px;
}

.cat.mobile {
    border-color: #ff8f00;
    color: #ff8f00;
}

.cat.web {
    border-color: magenta;
    color: magenta !important;
}

.cat.robotics {
    border-color: red;
    color: red !important;
}

.cat.pole-pos {
    border-color: blue;
    color: blue;
}

.cat.honorable-mention-light {
    border-color: white;
    color: white !important;
}


/* Card */

.green-border {
    /* Border */
    border: 1px solid;
    border-radius: 5px;
    /* Colors */    
    border-color: #00E676;
    box-shadow: 0 0 0 0;
    /* Size & Position */    
}

.white-border {
    /* Border */
    border: 1px solid;
    border-radius: 5px;
    /* Colors */    
    border-color: white;
    box-shadow: 0 0 0 0;
    /* Size & Position */      
}

.amber-border {
    /* Border */
    border: 1px solid;
    border-radius: 5px;
    /* Colors */    
    border-color: #ffc107;
    box-shadow: 0 0 0 0;
    /* Size & Position */    
}

.red-border {
    /* Border */
    border: 1px solid;
    border-radius: 5px;
    /* Colors */    
    border-color: #ff4d4d;
    box-shadow: 0 0 0 0;
    /* Size & Position */    
}

.grey-border {
    /* Border */
    border: 1px solid;
    border-radius: 5px;
    /* Colors */    
    border-color: #d8d8d8;
    box-shadow: 0 0 0 0;
    /* Size & Position */    
}

.white-border.dashed {
    border: 1px dashed;
}

.border-right-grey {
    border: 0;
    border-right: 1px dashed #d8d8d8;
}

.score-in-card {
    position: absolute;
    bottom: 0px; 
    width: 100%;
}

.short-desc {
    height: 180px;
    width: 100%;
    
    text-overflow: ellipsis;    
    overflow: hidden;    
}

.overflow-white {
    /* color */
    background: 
        linear-gradient(
            rgba(255, 255, 255, 0), 
            rgba(255, 255, 255, 1)
        );
    /* position */
    position: absolute;
    bottom: 205px; 
    left: 0px;
    z-index: 5;
    /* size */
    height: 70px;     
    width: inherit;
}

.app-card-plain {    
    /* Border */
    border: 1px solid;
    border-radius: 5px;
    /* Colors */
    background: white;
    border-color: rgb(0, 230, 118);
    box-shadow: 0 0 0 0;
    /* Size & Position */  
    height: 520px;
    cursor: pointer;    
}

.app-card-plain:hover {
    box-shadow: 0 20px 60px 1px #00E676;
}

/* images */

.image-bg-ad {
    background:
        linear-gradient( to bottom,
            rgba(1, 20, 1, 0.1), 
            rgba(1, 5, 3, 0.95)
        ), url('../assets/images/tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.image-bg-featured {
    background:
        linear-gradient( to left,
            rgba(0, 230, 118, 0.85), 
            rgba(0, 230, 118, 1)
        ), url('../assets/images/phone.gif');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: background 0.5s;
}

.image-bg-featured:hover {    
    transition: background 0.5s;
    background: linear-gradient( to left,
            rgba(0, 230, 118, 0.85), 
            rgba(0, 230, 118, 1)
        ), url('http://i.istockimg.com/file_thumbview_approve/21671140/6/stock-illustration-21671140-doodle-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.image-fit-width {
    width: 100%;
}

.image-caption {    
    /* Positioning */
    margin: 0;
    padding: 5px 10px 5px 10px;
    /* Fonts */
    text-align: center;
    /* Colors */
    background: #f5f5f5;
    color: black;
}

/* Project Page */
#proj-abstract p{
    font-size: 1.3em;
    font-weight: 400;
}

.image-proj-logo {
    height: auto; width: 100%;
}

.criteria {
    font-size: 1.5em;
    font-weight: 800;
}

.score {
    font-size: 1.5em;
    font-weight: 800;
}

.bottom {
    position: absolute; 
    bottom: 0px; 
    width: 100%;
}

.test {
    
}

.full-width {
    width: 100%;
}

#above-the-fold {
/*    background-image: url("https://images.unsplash.com/photo-1434608519344-49d77a699e1d?crop=entropy&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400");*/
    /* background-image: url("https://images.unsplash.com/photo-1434682881908-b43d0467b798?crop=entropy&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400");*/
    background-image: url("/static/assets/images/bg-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.border-white {
    border: 7px solid;
    border-style: solid;
    border-radius: 0px;
}

.border-red-thin {
    border-color: #FF1744;
    border: 1px solid #ffc107;
    border-style: solid;
    border-radius: 3px;
}

.border-green-thin {
    border-color: #00e676;
    border: 1px solid #00e676;
    border-style: solid;
    border-radius: 3px;
}

.border-cyan-thin {
    border-color: #00e5ff;
    border: 1px solid #00e5ff;
    border-style: solid;
    border-radius: 3px;
}

.border-blue-thin {
    border-color: #2196f3;
    border: 1px solid #2196f3;
    border-style: solid;
    border-radius: 3px;
}
.errorlist {
    color: red;
}

.form-label {
    color: white;
}

.help-text {
    font-size: 1em;
}

.padding-20-all {
    padding: 20px 20px 20px 20px;
}

#mission {
    background-image: url("/static/assets/images/test-blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#what-is-crossfit {
    background-image: url("/static/assets/images/bg-1-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#wod-area-main {
    height: 100%; 
/*    background-image: url("/static/assets/images/pain.jpg");*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
/*    background: rgba(235, 20, 61, 0.9); */
    background: linear-gradient(0deg, rgba(235, 20, 61, 0.8), rgba(0, 0, 0, 0.9)), url("/static/assets/images/sticks.gif") repeat;
    overflow-y: auto; 
    position: fixed; 
    right: 0px;
}

.trial-footer {
    /* size */
    width: 100%;
    height: 70px;
    /* position */
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-top: 10px;
}

.padding-safe {
    padding: 7% 7% 7% 7%;
}
.padding-7p {
    padding: 7% 7% 7% 7%;
}
.padding-5p {
    padding: 5% 5% 5% 5% !important;
}

.padding-2p {
    padding: 2% 2% 2% 2% !important;
}

.padding-1p {
    padding: 1% 1% 1% 1% !important;
}


/* PLACEHOLDER COLORS */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9d9d9d;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9d9d9d;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9d9d9d;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #9d9d9d;
}

.sidebar-left {
    height: 100%; 
    overflow-y: auto; 
    position: fixed; 
    left: 0px;
}

#sidebar-left {
    height: 100%; 
    overflow-y: auto; 
    position: fixed; 
    left: 0px;
}

.text-left {
    text-align: left;
}

.border-bottom-grey {
    border-bottom: 1px solid #2f2f2f;
}

.padding-14p {
    padding: 14% 14% 14% 14%;
}
.padding-16p {
    padding: 16% 16% 16% 16%;
}
.padding-20p {
    padding: 20% 20% 20% 20%;
}
